{
    "openapi": "3.1.0",
    "info": {
        "title": "Title",
        "description": "Title",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://webcis.veracruz.tecnm.mx/"
        }
    ],
    "paths": {
        "/api/v1/login": {
            "post": {
                "summary": "Login Endpoint",
                "description": "Endpoint for user authentication",
                "responses": {
                    "200": {
                        "description": "Login Successful"
                    },
                    "401": {
                        "description": "Incorrect credentials"
                    }
                }
            }
        },
        "/api/v1/email/verification": {
            "post": {
                "summary": "Sends a verification email",
                "description": "Given an email, sends a verification email with a token",
                "requestBody": {
                    "description": "The body needs to give the email to ve verified",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string",
                                "content": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    }
                                }
                            },
                            "examples": {
                                "correctBody": {
                                    "summary": "Body with email to be verified",
                                    "value": {
                                        "email": "example@mail.com"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Verification email send",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "successCase": {
                                        "summary": "Verification email send",
                                        "value": {
                                            "message": "If the email exists, a verification email will be sent"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal errors",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "tokenGenerationException": {
                                        "summary": "Secure token generation error",
                                        "value": {
                                            "message": "Failed to generate secure token"
                                        }
                                    },
                                    "tokenStorageException": {
                                        "summary": "Failed to storage new secure token",
                                        "value": {
                                            "message": "Failed to store token"
                                        }
                                    },
                                    "emailSenderException": {
                                        "summary": "Failed to send verification email",
                                        "value": {
                                            "message": "Unable to send email"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/email/verification/confirm": {
            "post": {
                "summary": "Confirms a email",
                "description": "Given a token and email, checks and confirms the email or fails",
                "requestBody": {
                    "description": "Email to verify and linked secure token",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string",
                                "content": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "token": {
                                        "type": "string"
                                    }
                                }
                            },
                            "examples": {
                                "correctBody": {
                                    "summary": "Email and verification token",
                                    "value": {
                                        "email": "example@mail.com",
                                        "token": "K7tZ9jL2mN1bV3xQ5wR8yP0oI9uU7yT6rE5dW4qA3sS2dF1gH0jJ9kK8lL7mN6b"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Verifies the email and returns a secure token to register",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "successCase": {
                                        "summary": "Email verified",
                                        "value": {
                                            "message": "Verification successful",
                                            "token":"2bXJNUcZVdtZfUUzbEgfvvaawOCfOgvK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Response when the token is expired or invalid",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "failedAuth": {
                                        "summary": "Error response",
                                        "value": {
                                            "message": "Expired or invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal errors",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "tokenGenerationException": {
                                        "summary": "Secure token generation error",
                                        "value": {
                                            "message": "Failed to generate secure token"
                                        }
                                    },
                                    "tokenStorageException": {
                                        "summary": "Failed to storage new secure token",
                                        "value": {
                                            "message": "Failed to store token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
